#upperline{
	width:192px;
height:4px;
background-color:black;	
margin-left:649px;
margin-top:30px;
margin-bottom:0px;
}

#line1{

width:500px;
height:1.5px;
background-color:black;
margin-left:150px;

}
#line2{
width:500px;
height:1.5px;
background-color:black;
margin-left:690px;
}
#linever1{
	width:1px;
	height:50px;
	background-color:black;
	margin-left:649px;
}
#linever2{
	width:1px;
	height:50px;
	background-color:black;
	margin-left:191px;
}
#codekata1{
	width:250px;
	height:120px;
background-color:#009999;
margin-left:200px;
margin-top:30px;
border-radius:10px;
}
#img{
	width:250px;
	height:250px;
	background-image:url('fildelcastro.jpg');
	border-radius:50%;
	margin-left:600px;
	margin-top:-140px;
}
#codekata2{
	width:250px;
	height:120px;
background-color:#009999;
margin-left:960px;
margin-top:-240px;
border-radius:10px;
}
#form1{
	width:300px;
	height:50px;
	margin-left:200px;
	margin-top:50px;
	border:1px solid grey;
	
}
#form2{
	width:300px;
	height:50px;
	margin-left:950px;
	margin-top:-40px;
	border:1px solid grey;
	
}
#b1{
	border:none;
	background-color:blue;
	border-radius:5px;
	width:230px;
	height:35px;
	color:white;
	margin-left:220px;
}
#b2{
	border:none;
	background-color:blue;
	border-radius:5px;
	width:230px;
	height:35px;
	color:white;
	margin-left:508px;
	margin-top:10px;
}
#b3{
	border:none;
	background-color:blue;
	border-radius:5px;
	width:90px;
	height:35px;
	color:white;
	margin-left:1030px;
	margin-top:10px;
}
#proname{
	width:450px;
	height:90px;
	background-color:#00e6b8;
	margin-left:500px;
	border-radius:10px;
}
#acc{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:50px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#accop{
	width:1100px;
	height:250px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#stats{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#statsop{
	width:1100px;
	height:600px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#pro{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#proop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#prof{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#profop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#project{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#projectop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}#pers{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#persop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#coll{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#collop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
}
#cont{
	width:1100px;
	height:60px;
	background-color:#0099cc;
	margin-left:200px;
	margin-top:5px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
#contop{
	width:1100px;
	height:200px;
	background-color:white;
	margin-left:200px;
	
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border:1px solid grey;
	display:none;
	
}
hr{
	
	border-top:1px solid grey;
}